* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 60px;
  /* background-color: black; */
}
.search {
  align-self: center;
  margin-right: 120px;
}
.search input {
  width: 300px;
  height: 40px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search-btn {
  height: 40px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
h2 {
  color: rgb(255, 255, 255);
  width: 16%;
  height: 40px;
  line-height: 4px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(66, 66, 66);
  padding: 20px;
  margin: 10px 0px;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.5s ease;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  transition: 0.5s ease;
}
.displayShows {
  color: rgb(228, 228, 228);
  flex: 0 0 30%;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: gray;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.5s ease;
}
.name-btn {
  display: flex;
  justify-content: space-between;
}
.showName span {
  color: black;
  font-size: 1.4rem;
}
.details-btn {
  border: 1px solid gray;
  padding: 5px;
  font-size: 15px;
  width: 40%;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  transition: 0.7s ease;
}
.details-btn:hover {
  background-color: #6f6f6f;
  transform: scale(1.05);
}
